---
- name: Check for available Windows updates
  ansible.windows.win_updates:
    category_names:
      - '{{ win_category_names }}'
    state: searched
    server_selection: '{{ win_server_selection }}'
    skip_optional: '{{ win_skip_optional }}'
  register: win_updates_result
  tags:
    - windows_update

- name: Install Windows updates if available
  ansible.windows.win_updates:
    category_names:
      - '{{ win_category_names }}'
    state: installed
    reboot: '{{ win_reboot }}'
    server_selection: '{{ win_server_selection }}'
    skip_optional: '{{ win_skip_optional }}'
  when: win_updates_result.updates|length > 0
  tags:
    - windows_update
